<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Create Tag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tagGroup" (ngSubmit)="saveChanges()" novalidate>
    <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="tag"></ion-input>
    </ion-item>
    <div class="ion-padding" style="color:rgb(245, 61, 61)" *ngIf="tagGroup.get('tag').hasError('pattern') && tagGroup.get('tag').dirty">
      Invalid characters, valid characters include [A-Za-z0-9 and space]
    </div>
    <ion-button type="submit" expand="block" class="ion-padding-horizontal ion-margin-vertical" [disabled]="!tagGroup.valid">
      Create
    </ion-button>
  </form>
</ion-content>
