<ion-tabs>

  <ion-tab-bar slot="top" color="primary">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-badge color="tertiary">11</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="forums">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openSideMenu()">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-badge color="danger">11</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
