<ion-header>
  <ion-toolbar>
    <ion-tab-bar color="primary">
      <ion-tab-button>
        <ion-icon name="home-outline" (click)="home()"></ion-icon>
        <ion-badge color="tertiary">11</ion-badge>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="newspaper-outline" (click)="forums()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="people-circle-outline" (click)="services()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="openSideMenu()">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-badge color="danger">11</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title>Tags(0)</ion-title>
</ion-content>
