<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Create Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forumGroup" (ngSubmit)="saveChanges()">
    <ion-item lines="none">
      <ion-label>Active</ion-label>
      <ion-toggle formControlName="indexed"></ion-toggle>
    </ion-item>
    <ion-item >
      <ion-label>Type</ion-label>
      <ion-select formControlName="type">
          <ion-select-option value="Private">Private</ion-select-option>
          <ion-select-option value="Public">Public</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input #mainTitle formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea rows="3" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Website</ion-label>
        <ion-input formControlName="website"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tags</ion-label>
      <ionic-selectable
        #tagComponent
        formControlName="tag"
        [items]="tags"
        itemValueField="tagId"
        itemTextField="tag"
        [canSearch]="true"
        (onSearch)="searchTags($event)"
        (onChange)="tagChanged($event)"
        [isMultiple]="true"
        [isConfirmButtonEnabled]="tagComponent.itemsToConfirm.length >= 1 && tagComponent.itemsToConfirm.length <= 3">
        <ng-template ionicSelectableMessageTemplate>
					Select between 1 to 3 items.
				</ng-template>
      </ionic-selectable>
    </ion-item>
    <ion-button type="submit" expand="block" class="ion-padding-horizontal ion-margin-vertical" [disabled]="!forumGroup.valid">
      Create
    </ion-button>
    <ion-button type="button" expand="block" (click)="reset()" class="ion-padding-horizontal ion-margin-vertical">
      Reset
    </ion-button>
  </form>
</ion-content>
